		<h2>
			<?php echo JOBSEEKERS;?>
		</h2>
				<table cellpadding="0" cellspacing="1" width="98%" class="user-grid">
					<tr>
						<th>
							Id
						</th>
						<th>
						  Name
						</th>
                        <th>
                        Total Experience
						</th>
                        <th>
			            Relavant Experience
						</th>
                        <th>
						  Current CTC
						</th>
                        <th>
						  Expected CTC
						</th>
                        <th>
                          Available Joining Date
						</th>
						<th>
							Mobile No
						</th>
						<th>
							Email
						</th>
						
                        <th>
                         Job Applied
						</th>
                        <th>
						 Resume
						</th>
						
					</tr>
		<?php
           foreach ($jobseekers as $jobseeker) 
							{
						?>
								<tr>
									<td style="text-align:center">
										<?php echo $jobseeker->jobseeker_id;?>
									</td>
									<td style="text-align:center">
										<?php 
											echo $this->Html->link($jobseeker->jobseeker_firstname." ".$jobseeker->jobseeker_lastname, 
	                                       								array(
	                                       									'controller' => 'jobseekers',
	                                       									'action' => 'details',
	                                       									'id' => $jobseeker->jobseeker_id
	                                       								),
	                                       								array(
	                                       									'style'=>'text-decoration:underline'
	                                       								)
																	);
										?>
									</td>
									<td style="text-align:center;width:50px">
										<?php echo $jobseeker->jobseeker_total_experience;?>
									</td>
									<td style="text-align:center;width:50px">
										<?php echo $jobseeker->jobseeker_relavent_experince;?>
									</td>
									<td style="text-align:center">
										<?php echo $jobseeker->jobseeker_current_ctc;?>
									</td>
									<td style="text-align:center">
										<?php echo $jobseeker->jobseeker_expected_ctc;?>
									</td>
									<td style="text-align:center;width:100px">
										<?php echo $jobseeker->jobseeker_available_joining_date;?>
									</td>
									<td style="text-align:center">
										<?php echo $jobseeker->jobseeker_mobilenumber;?>
									</td>
									<td style="text-align:center">
										<?php echo $jobseeker->jobseeker_email_id;?>
									</td>
									<td style="text-align:center">
                                        <?php echo $jobseeker->career_title; ?>
									</td>
									<td style="text-align:center;width:100px">
                                       <?php echo $this->Html->link('download', 
									                                           array( 
									                                                  'action' => 'download',
																					  'id' => $jobseeker->jobseeker_id
																			     )
															   ); ?>
                                    </td>
							</tr>
							<?php }?>
               </table>