body {background:url(../img/background_bg.jpg) repeat left top; font-family:Tahoma, Geneva, sans-serif; font-size:12px; margin:0; padding:0;}
ul{list-style:none; margin:0px; padding:0px;}
img{padding:0px; margin:0px; border:none;}
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.page_wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -57px; /* the bottom margin is the negative value of the footer's height */
	width:100%;
}
/*footer_section*/

.paging{
	text-align:right;
	width:98%;
	padding:10px 0px 10px 0px;
	margin: 0px 5px 0px 5px;
	background-color: #E6E6E6;
	color: grey;
}
.push {
	height: 57px; /* .push must be the same height as .footer */
}
.footer_section{height:57px}
.footer_section{background:url(../img/footer_bg.jpg) repeat-x left top; padding:0px 17px 0px 17px; margin:0px;}
.footer_section .left p{color:#d5d3d3; margin:0px; padding:0px; float:left; font-size:11px; font-family:Arial, Helvetica, sans-serif;}
.footer_section .left{width:30%; padding:25px 0px 18px 18px; margin:0px; float:left; height:auto;}
.footer_section .right{width:40%; padding:25px 0px 18px 0px; margin:0px; float:right;}
.footer_section .right ul{padding:0px; margin:0px; float:right; list-style:none;}
.footer_section .right ul li{padding:0px; margin:0px; float:left;}
.footer_section .right ul li:first-child{border-right:1px solid #fefefe;}
.footer_section .right ul li a{text-decoration:none; color:#F9AA1A; font-size:12px; margin:0px 15px;}
.footer_section .right ul li a:hover{color:#fefefe; text-decoration:none;}
/*footer_section end*/

.page_wrapper .header_section{width:100%; padding:0px; margin:0px; background:url(../img/header_bg.jpg) repeat-x left top; height:65px;}
.page_wrapper .header_section .logo_sec a{width:202px; height:35px; padding:22px 0px 0px 25px; margin:0px; float:left;color:white; font-size:20px;text-decoration:none; font-weight:bold}

/*login box*/
.page_wrapper .login_box{width:100%; height:260px; padding:0px 0px 45px 0px; margin:60px auto; background:url(../img/login_box_bg.png) no-repeat center bottom; clear:both; display:block; text-align: center}
.page_wrapper .login_box .login_area{width:415px; padding:0px; margin:0px auto; border:1px solid #a2a2a2; background:#f2f1f1;
-moz-border-radius: 10px;
-o-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
height:260px;
position:relative;
}
.page_wrapper .forgot_box{width:469px; height:260px; padding:0px 0px 0px 0px; margin:60px auto; background:url(../img/login_box_bg.png) no-repeat center bottom; clear:both;}
.page_wrapper .forgot_box .forgot_area{width:469px; padding:0px; margin:0px; float:left; border:1px solid #a2a2a2; background:#f2f1f1;
-moz-border-radius: 10px;
-o-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
height:220px;
position:relative;
}
#login {text-align: center}
.login_box ul{margin:64px auto 0px auto; padding:0px; list-style:none; width:80%;}
.login_box .center{padding:10px 0; overflow:hidden; text-align:center;}
.forgot_box .center{padding:10px 0; overflow:hidden; text-align:center;}
.login_box ul li{padding:10px 0; overflow:hidden; text-align:left;}
.forgot_box ul{margin:64px auto 0px auto; padding:0px; list-style:none; width:80%;}
.forgot_box ul li{padding:10px 0; overflow:hidden; text-align:left;}
.text-box{border:solid 1px #C9C9C9; color:#AEAEAE; font-size:13px; font-family:Tahoma, Arial, Verdana; width:96.5%; padding:3px 5px; 
	-moz-box-shadow:  0 3px 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:  0 3px 3px rgba(0, 0, 0, 0.1);
	box-shadow:  0 3px 3px rgba(0, 0, 0, 0.1);
	}
.btn-org, .btn-org-forgot{background:url(../img/btn-org.png) repeat-x; border:solid 1px #F89E62; color:#FFFFFF; font-weight:bold; font-size:12px; padding:0px 10px 5px 10px;
	-moz-border-radius: 				.9em /*{global-radii-blocks}*/;
	-webkit-border-radius: 				.9em /*{global-radii-blocks}*/;
	border-radius: 						.9em /*{global-radii-blocks}*/;
	text-shadow: 0 1px  1px  #BC5619;
	-moz-box-shadow:  0 0 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:  0 0 5px rgba(0, 0, 0, 0.4);
	box-shadow:  0 0 5px rgba(0, 0, 0, 0.4);
	line-height:20px;
	cursor:pointer;
	height:24px;
}
.btn-org{
	width:90px;
}
.login_area label{display:none;}
.forgot_area label{display:none;}
.login-head{background:url(../img/login.png) no-repeat; width:144px; height:40px; position:absolute; top:-8px; left:135px;}
.forgotpassword-head{background:url(../img/forgot-password.png) no-repeat; width:190px; height:40px; position:absolute; top:-8px; left:142px;}
a.links{color:#414141; text-decoration:none; font-size:11px;}
a.links:hover{text-decoration:underline;}
.float-rt{float:right;}
.pushtop-1{margin-top:5px;}
.pushtop-2{margin-top:10px;}
.pushtop-3{margin-top:15px;}
.pushbottom-3{margin-bottom:15px;}
.pushright-2{margin-right:10px;}

/* popup-div */

.popup-div-outer{
		width:602px;
		padding:5px;
		background:#2C2C2C;
		-moz-border-radius: 				.9em /*{global-radii-blocks}*/;
	-webkit-border-radius: 				.9em /*{global-radii-blocks}*/;
	border-radius: 						.9em /*{global-radii-blocks}*/;
	overflow:hidden;
	margin:auto;
	position:absolute;
	z-index:9999;
}
.add-div{width:90%;  background-color:#FFFFFF;
	border:solid 1px #ACACAC;
	-moz-border-radius: 				.9em /*{global-radii-blocks}*/;
	-webkit-border-radius: 				.9em /*{global-radii-blocks}*/;
	border-radius: 						.9em /*{global-radii-blocks}*/;
	-moz-box-shadow:  0 0 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:  0 0 5px rgba(0, 0, 0, 0.4);
	box-shadow:  0 0 5px rgba(0, 0, 0, 0.4);

}
.popup-div{width:770px;  background-color:#FFFFFF;
	border:solid 1px #ACACAC;
	-moz-border-radius: 				.9em /*{global-radii-blocks}*/;
	-webkit-border-radius: 				.9em /*{global-radii-blocks}*/;
	border-radius: 						.9em /*{global-radii-blocks}*/;
	-moz-box-shadow:  0 0 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:  0 0 5px rgba(0, 0, 0, 0.4);
	box-shadow:  0 0 5px rgba(0, 0, 0, 0.4);

}
.pop-head{
	background-image: -webkit-gradient(linear, left top, left bottom, from( #EEEEEE ), to( #E5E5E5 )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #EEEEEE , #E5E5E5 ); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #EEEEEE , #E5E5E5 ); /* FF3.6 */
	background-image:     -ms-linear-gradient( #EEEEEE , #E5E5E5 ); /* IE10 */
	background-image:      -o-linear-gradient( #EEEEEE , #E5E5E5 ); /* Opera 11.10+ */
	background-image:         linear-gradient( #EEEEEE , #E5E5E5 );
	height:40px;
	border-bottom:solid 1px #CCCCCC;
	-moz-border-top-right-radius: .9em;
	-moz-border-top-left-radius: .9em;
	-webkit-border-top-right-radius: .9em;
	-webkit-border-top-left-radius: .9em;
	border-top-right-radius: .9em;
	border-top-left-radius: .9em;
	line-height:40px;
	padding-left:14px;
	font-size:14px;
	font-weight:bold;
	color:#666666;
	background-color:#E5E5E5;
}
.popup-form{overflow:hidden;}
.popup-form ul{margin:15px; overflow:hidden;}
.popup-form ul li{overflow:hidden; padding:10px 0px;}
.popup-form label{width:20%; margin-right:2%; float:left; display:block; line-height:27px; text-align:right; color:#666666; font-weight:bold; font-size:12px;}
.popup-form label span{color:#F15A23;}
.popup-form input, .popup-form textarea, .popup-form select{width:70%; float:left;
	border:solid 1px #CDCDCD;
	-moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2); 
	-moz-border-radius: 				.5em ;
	-webkit-border-radius: 				.5em ;
	border-radius: 						.5em ;
	padding:3px 5px;
	line-height:22px;
	height:21px;
	}
	.popup-form textarea{height:100px;font: -webkit-small-control;}
	.popup-form select{height:28px; line-height:22px; width:72%;}
	.popup-form .lineheight label{line-height:15px;}
	.popup-form label .text-normal{color:#666666; font-weight:normal;}

.popup-form .btn-org-s, .fileuploadsubmit{background:url(../img/btn-org.png) repeat-x; border:solid 1px #F89E62; color:#FFFFFF; font-size:11px; padding:0px 10px 5px 10px; width:auto;
		background-color:#F9B149;
	-moz-border-radius: 				.4em /*{global-radii-blocks}*/;
	-webkit-border-radius: 				.4em /*{global-radii-blocks}*/;
	border-radius: 						.4em /*{global-radii-blocks}*/;
	-moz-box-shadow:  0 0 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:  0 0 5px rgba(0, 0, 0, 0.4);
	box-shadow:  0 0 5px rgba(0, 0, 0, 0.4);
	line-height:17px;
	font-family:verdana;
	cursor:pointer;
	margin:5px;
	height:24px;
	-webkit-padding-top:1px;
}
.popup-form .btn-grey-s{background:url(../img/btn-grey.png) repeat-x; border:solid 1px #B3B3B3; color:#FFFFFF; font-size:11px; padding:0px 10px 5px 10px; width:auto;
	background-color:#807E7E;
	-moz-border-radius: 				.4em /*{global-radii-blocks}*/;
	-webkit-border-radius: 				.4em /*{global-radii-blocks}*/;
	border-radius: 						.4em /*{global-radii-blocks}*/;
	-moz-box-shadow:  0 0 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:  0 0 5px rgba(0, 0, 0, 0.4);
	box-shadow:  0 0 5px rgba(0, 0, 0, 0.4);
	-webkit-padding-top:1px;
	line-height:17px;
	font-family:verdana;
	cursor:pointer;
	margin:5px;
	height:24px;
}
.popup-form .cancel, .popup-div.cancel, .fileuploadcancel{    background: url("../img/btn-grey.png") repeat-x scroll 0 0 #807E7E;
    border: 1px solid #B3B3B3;
    border-radius: 0.4em 0.4em 0.4em 0.4em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: verdana;
    font-size: 11px;
    height: 22px;
    line-height: 20px;
    margin: 5px;
    padding: 0 10px;
    text-decoration: none;
    width: auto;
}
.btn-section{overflow:hidden; border-top:solid 1px #CCCCCC; padding:15px; text-align:right;}
.btns-div{width:94%; overflow:hidden;}
.back-popup-layer{position:absolute; background:#000; left:0px; top:0px; opacity:.5; filter: alpha(opacity=50); z-index:999;}
/* Select box */
.select_box{float:left;}
#selectbox {
    background: url("../img/selectbox.png") no-repeat scroll top left transparent;
    clear: both;
    color: #A19FA0;
    float: left;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    padding: 0 0 0 6px ;
    position: absolute;
    width: 412px;
	font-weight: normal;

}


select.styled {
    font-size: 12px;
    height: 28px;
    opacity: 0;
    position: absolute;
    width: 412px;
    z-index: 5;
	color: #ccc;
	filter:alpha(opacity=0);
}

.right-p label{display: none;}

/* User group Section*/
ul {list-style:none; padding:0px; margin:0px;}
ul li{list-style:none;}
.header_section .left{width:82px; height:35px; padding:20px 0px 0px 25px; margin:0px; float:left;}
.header_section .left a{text-decoration:none; color:#F9AA1A; font-size:18px; margin:0px;}
.header_section .left a:hover{color:#fefefe; text-decoration:none;}
.header_section .right{width:60%; padding:20px 2px 0px 0px; margin:0px; float:right;}
.header_section .right ul{float:right;}
.header_section .right ul li{padding:0px 15px; float:left; border-left:1px solid #fefefe;  color:#fff;}
.header_section .right ul li:first-child{border-left:0px;}
.header_section .right ul li a{text-decoration:none; color:#F9AA1A; font-size:12px; margin:0px;}
.header_section .right ul li a:hover{color:#fefefe; text-decoration:none;}
.dashboard{padding:0px; border-bottom:1px solid #DDDDDD; background:#fff; line-height:34px; overflow:hidden; float:left; width:100%;}
.dashboard .left {width:40%; float:left; padding:0px 0px 0px 10px;}
.dashboard .left ul li{float:left; padding:0 5px; color:#2D2D2D;}
.dashboard .left ul li.arrow{background:url(../img/arrow.png) no-repeat left top; height:33px; width:5px;}
.dashboard .left ul li.in{color:#939393;}
.dashboard .right{
	float:right; width:166px; border:1px solid #E0E0E0; line-height:18px; margin-top:6px; margin-right: 10px;
	-moz-border-radius:                 .4em /*{global-radii-blocks}*/;
    -webkit-border-radius:                 .4em /*{global-radii-blocks}*/;
    border-radius:                         .4em /*{global-radii-blocks}*/;    
    -moz-box-shadow:  0 0 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:  0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow:  0 0 5px rgba(0, 0, 0, 0.3);
		}
.dashboard  input{border:none; background:none; padding:3px 6px 3px 5px; color:#F7AD94; font-weight:bold; font-size:11px; width:125px; float:left;}
.dashboard  .search-iocn{background:url(../img/search-icon.png) no-repeat 50% 4px; height:18px; width:29px; display:block; float:left; border:none;cursor: pointer;}
.headline{width:100%; float:left;}
.headline  .left{float:left;}
.headline  .left h2{color:#3A3A3A; font-weight:bold; margin:18px 10px 10px 26px; font-size:19px;}
.headline .right a, #addnew{float:right;  background:url(../img/add.png) no-repeat left top; height:18px; font-weight:bold; display: block; line-height: 18px; padding-left: 24px; color:#525252; text-decoration:none; font-size:12px;}
.headline .right a{margin:30px 32px 0px 0px;}
.headline .right a:hover{color:#F15A23;}

.content-holder{width:100%; /*overflow:hidden;*/ clear:both;}
.content-holder .leftnav{position:relative; display:block;}
.content-holder .leftnav ul{width:100%;}
.content-holder .leftnav ul li{padding:0px; margin:0px; float:left; width:100%;}
.content-holder .leftnav ul li:first-child{padding:3px 0px 0px 0px;  line-height:26px; vertical-align:top;}
.content-holder .leftnav ul li  a{color:#6B6B6B; font-size:14px; font-weight:bold; background:url(../img/underline.png) no-repeat bottom left; text-decoration:none; display:block; padding:15px 20px; line-height:26px; vertical-align:top; border-bottom: 1px solid transparent;}
.content-holder .leftnav ul li  a:hover{color:#F15A23; font-size:14px; font-weight:bold;text-decoration:none; display:block; background:#fff;
	-moz-box-shadow:  -4px 0 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:  -4px 0 5px rgba(0, 0, 0, 0.3);
    box-shadow:  -4px 0 5px rgba(0, 0, 0, 0.3);
	margin-right:0px/*-1px*/;
	 padding:15px 20px; line-height:26px; vertical-align:top;
	 border-bottom: 1px solid #fff !important;

}
.content-holder .leftnav ul li  a.over, .content-holder .leftnav ul li  a.over1{color:#6B6B6B; font-size:14px; font-weight:bold; background-image:none; text-decoration:none; display:block;  padding:15px 20px; line-height:26px; vertical-align:top;}
/*.content-holder .leftnav ul li:first-child  a{background:none;}*/
.content-holder .leftnav ul li  a.active{color:#F15A23; font-size:14px; font-weight:bold;text-decoration:none; display:block; background:#fff;
	-moz-box-shadow:  -4px 0 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:  -4px 0 5px rgba(0, 0, 0, 0.3);
    box-shadow:  -4px 0 5px rgba(0, 0, 0, 0.3);
	margin-right:0px/*-1px*/;
	border-top:1px solid #DFDFDF\9;
	border-bottom:1px solid #DFDFDF\9;
	 padding:15px 20px; line-height:26px; vertical-align:top;
	 border-bottom: 1px solid #F8AC91;
	  
}
.user-grid, .user-grid-change{
	background:#D1D1D1;
	-moz-border-radius:                 .2em /*{global-radii-blocks}*/;
    -webkit-border-radius:                 .2em /*{global-radii-blocks}*/;
    border-radius:                         .2em /*{global-radii-blocks}*/;    
    -moz-box-shadow:  0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:  0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow:  0 0 5px rgba(0, 0, 0, 0.2);
		}
.user-grid th{
	padding:10px; 
	text-align:center;
	font-weight:bold;
	color:#646464;
	font-size:12px;
	background:#DFDFDF;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #F5F5F5 /*{a-body-background-start}*/), to( #DFDFDF /*{a-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#F5F5F5 /*{a-body-background-start}*/, #DFDFDF /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#F5F5F5 /*{a-body-background-start}*/, #DFDFDF /*{a-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#F5F5F5 /*{a-body-background-start}*/, #DFDFDF /*{a-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#F5F5F5 /*{a-body-background-start}*/, #DFDFDF /*{a-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#F5F5F5 /*{a-body-background-start}*/, #DFDFDF /*{a-body-background-end}*/);	
	}
.user-grid-change td{padding:10px 0px 10px 15px; text-align:left; background:#fff; font-weight:bold; color:#646464; font-size:11px;}

.user-grid td.contact{
padding:0px 0px 0px 15px; 
text-align:left; 
margin: 0 0px 0 40px;
background-color: #E5E5E5;
color: #666;
line-height: 30px;
font-weight: bold;
font-size: 14px;
padding-left: 14px;
}

.user-grid td{padding:10px 0px 10px 15px; text-align:left; background:#fff; font-weight:bold; color:#646464; font-size:11px;}
.user-grid td.dashboard{padding:10px 0px 10px 0px; text-align:left; background:#fff; font-weight:bold; color:#646464; font-size:11px;}


.user-grid tr.even td{background:#F2F2F2;}

.icon-grid {padding:10px 0px 10px 15px; text-align:left;color:#646464;border-style:solid;border-width:1px;border-color: #D1D1D1; }
.icons{margin:0 auto; padding: 0px 10px 0px 10px;}
.projecticons{margin:0 auto; width:452px;}
.projecticons a{float:left;}
.viadminicons{margin:0 auto; width:50px;} 
.moduleicons{margin:0 auto; width:auto;}
.customeradminicons, .customerusericons{margin:0 auto; width:125px;}
.commappicons{margin:0 auto; width:130px;}
.permisssionicons{margin:0; width:auto; padding:0px;}

.ifcversionicons{margin:0 auto; width:auto;}
.groupicons{margin:0 auto; width:155px;}
.buildingicons{margin:0 auto; width:337px;}

.icons .icon-excel{background:url(../img/excel.jpg) no-repeat 0 0; width:25px; height:20px; float:left; display:block;}

.icons .icon-drecord{background:url(../img/inactive.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block;}
.icons .icon-arecord{background:url(../img/active.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block;}

.icons .icon-edit-disable{background:url(../img/default-edit.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block;}
.icons .icon-delete-disable{background:url(../img/default-delete.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; margin:0px 10px; cursor:pointer;}
.icons .icon-edit{background:url(../img/edit.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer;}
.icons .icon-request{background:url(../img/request.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer;}
.icons .icon-delete{background:url(../img/delete.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; margin:0px 10px; cursor:pointer;}

.icons .icon-doc-download{background:url(../img/Download-Document.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; margin:0px 10px; cursor:pointer;}
.icons .icon-doc-download-disable{background:url(../img/Download-Document-inactive.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; margin:0px 10px; cursor:pointer;}


.icons .icon-excel-download{background:url(../img/download_Excel_sheet.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; margin:0px 10px; cursor:pointer;}
.icons .icon-excel-download-disable{background:url(../img/download_Excel_sheet.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; margin:0px 10px; cursor:pointer;opacity:0.3}

.icons .icon-add-floors{background:url(../img/add-building-stories-active.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer; margin:0 10px;}
.icons .icon-add-floors-disable{background:url(../img/add-building-stories-inactive.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer; margin:0 10px;}
.icons .icon-duser{background:url(../img/user-inactive.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block;}

.icons .icon-auser{background:url(../img/user-active.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block;}
.icons .icon-defaultuser{background:url(../img/user-default.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block;}

.icons .icon-permission{background:url(../img/permission.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer; margin: 0px 10px;}
.icons .icon-default-permission{background:url(../img/default-permission.png) no-repeat 0 0; width:25px; height:20px; margin:0px 10px; float:left; display:block; cursor:pointer;}

.icons .icon-building{background:url(../img/add-building.png) no-repeat 0 0; width:25px; height:20px; margin:0px 10px; float:left; display:block; cursor:pointer;}
.icons .icon-building-disable{background:url(../img/default-building.png) no-repeat 0 0; width:25px; height:20px; margin:0px 10px; float:left; display:block; cursor:pointer;}
.icons .icon-viewbuilding{background:url(../img/view-buildings.png) no-repeat 0 0; width:25px; height:20px; margin:0px 10px; float:left; display:block; cursor:pointer;}
.icons .icon-viewbuilding-disable{background:url(../img/default-view.png) no-repeat 0 0; width:25px; height:20px; margin:0px 10px; float:left; display:block; cursor:pointer;}

.icons .icon-default{background:url(../img/grey.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer;}

.icons .icon-nopermission-public{background:url(../img/No-permission-to-change-facility-to-public--private.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block cursor:pointer;}
.icons .icon-public{background:url(../img/public.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block cursor:pointer;}
.icons .icon-npublic{background:url(../img/not-public.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer;}

.icons .icon-nopermission-freeaccess{background:url(../img/No-permission-to-change-facility-free-access.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block;}
.icons .icon-freetoaccess{background:url(../img/Facility-Free-Access.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer;}
.icons .icon-notfreetoaccess{background:url(../img/Facility-Restricted-Access.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer;}

.icons .icon-invitation-active{background:url(../img/invitation-active.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer;}
.icons .icon-invitation-inactive{background:url(../img/invitation-inactive.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer;}

.icons .icon-view{background:url(../img/view.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer;}

.icons .icon-dgroup{background:url(../img/groups-in-active.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block;}
.icons .icon-agroup{background:url(../img/groups-active.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block;}
.icons .icon-greygroup{background:url(../img/groups-grey.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block;}

.icons .icon-categories{background:url(../img/Project-document-Categories.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer; margin:0 10px;}
.icons .icon-upload-categories-disable{background:url(../img/Project-document-Categories-inactive.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer;}


.icons .icon-upload-docs{background:url(../img/Upload-documents.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer; margin:0 10px;}
.icons .icon-upload-docs-disable{background:url(../img/Upload-documents-inactive.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer; margin:0 10px;}

.icons .icon-upload-multipledocs{background:url(../img/Upload_multiple_documents.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer; margin:0 10px;}
.icons .icon-upload-multipledocs-disable{background:url(../img/Upload_multiple_documents.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer; margin:0 10px;opacity:0.3}
.icons .icon-upload-singledocs{background:url(../img/Upload_single_documents.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer; margin:0 10px;}
.icons .icon-upload-singledocs-disable{background:url(../img/Upload_single_documents.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer; margin:0 10px;opacity:0.3}


.icons .icon-view-docs{background:url(../img/View-documents.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer;}
.icons .icon-view-docs-disable{background:url(../img/View-documents-inactive.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer;}
.icons .icon-edit-doc{background:url(../img/Edit-document-details.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer;}
.icons .icon-actdoc{background:url(../img/Activate-document.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer;}
.icons .icon-deactdoc{background:url(../img/Deactivate-document.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer;}
.icons .not-active .icon-actdoc{background:url(../img/Activate-document-inactive.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block;}
.icons .not-active .icon-deactdoc{background:url(../img/Deactivate-document-inactive.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block;}
.icons .icon-edit-doc-disable{background:url(../img/Edit-document-details-inactive.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer;}
.icons .icon_change_password{background:url(../img/icon_change_password.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block; cursor:pointer;}
.icons .icon_change_password_disable{background:url(../img/icon_change_password_disable.png) no-repeat 0 0; width:25px; height:20px; float:left; display:block;}

.user-grid td a{display:block; line-height:16px; color:#646464; text-decoration:none;}
.user-grid td a:hover{text-decoration:underline;}

.pager{width:98%; text-align:right; margin:20px 0px; overflow:hidden;}
.pager a{text-decoration:none; color:#999; font-size:12px; font-weight:normal;}
.pager a:hover{text-decoration:none; color:#000; font-size:12px; font-weight:normal;}
.pager a.leftarrow{margin-right:30px;}
#leftnavd-div{width:250px; height:485px; position:relative;}
.backward{background:url(../img/toggle-arrow-left.png) no-repeat 0 0; width:14px; height:45px; position:absolute; right:0px; top:200px; z-index:100; cursor:pointer;}
.forward{background:url(../img/toggle-arrow-right.png) no-repeat 0 0; width:14px; height:45px; position:absolute; right:0px; top:200px; z-index:100; cursor:pointer;}
.leftnav{height:675px;}

/* dashboard */
.pushtop-30{margin-top:30px;}
.content-div{overflow:hidden; display: inline-block ; width:95%;}
.content-div .block-a, .content-div .block-b{float:left; overflow:hidden;}
.content-div .block-a{width:/*55%*/62%;}
.content-div .block-b{width:38%;float:right;}.dashboard-view{margin:45px; overflow:hidden; display:inline-block; width:85%;}
.dashboard-view li{background:url(../img/icons-bg.png) no-repeat center top; width:117px; display:inline-block; text-align:center; margin:0px 8px 30px 8px; min-height:142px; float:left; height:142px\9;}

.dashboard-view li a{display:block; color:#717171; text-decoration:none; font-size:13px; text-shadow: 0 1px  1px  #FFFFFF;}
.dashboard-view li a span{background-image:url(../img/icons-dashboard.png); display:block; background-repeat:no-repeat; width:88px; height:88px; margin:3px auto 14px auto;}


.mydashboard span{background-position:-1014px 50%;}
.mydashboard:hover span{background-position:7px 50%;}

.usergroups span{background-position:-1134px 50%;}
.usergroups:hover span{background-position:-124px 50%;}

.user-permissions span{background-position:-1231px 50%;}
.user-permissions:hover span{background-position:-262px 50%;}


.admin-accounts span{background-position:-1333px 50%;}
.admin-accounts:hover span{background-position:-393px 50%;}

.customer-admin-acc span{background-position:-1439px 50%;}
.customer-admin-acc:hover span{background-position:-537px 50%;}


.projects span{background-position:-1548px 50%;}
.projects:hover span{background-position:-672px 50%;}

.buildings span{background-position:-1655px 50%;}
.buildings:hover span{background-position:-793px 50%;}

.myprofile span{background-position:-1749px 50%;}
.myprofile:hover span{background-position:-911px 50%;}

.ifcversions span{background-position:-2307px 50%;}
.ifcversions:hover span{background-position:-1860px 50%;}

.changepassword span{background-position:-2519px 50%;}
.changepassword:hover span{background-position:-2083px 50%;}

.superadmin span{background-position:-2625px 50%;}
.superadmin:hover span{background-position:-2191px 50%;}

.commappusers span{background-position:-3142px 50%;}
.commappusers:hover span{background-position:-2735px 50%;}

.facilitydoc_contenttype span{background-position:-3344px 50%;}
.facilitydoc_contenttype:hover span{background-position:-2937px 50%;}

.buildingdoc_contenttype span{background-position:-3445px 50%;}
.buildingdoc_contenttype:hover span{background-position:-3038px 50%;}

.facilityaccess_requests span{background-position:-3243px 50%;}
.facilityaccess_requests:hover span{background-position:-2836px 50%;}

.modules span{background-position:-2413px 50%;}
.modules:hover span{background-position:-1975px 50%;}

.accordion-div{
	margin:30px 0px;

	border:solid 1px #ccc;
	-moz-border-radius:                 .6em /*{global-radii-blocks}*/;
    -webkit-border-radius:                 .6em /*{global-radii-blocks}*/;
    border-radius:                         .6em /*{global-radii-blocks}*/;    
    -moz-box-shadow:  0 0 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:  0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow:  0 0 5px rgba(0, 0, 0, 0.3);
	background:#FFFFFF;
}

.accordion-div h3{background:#D7D6D6 url(../img/acc-bg.png) repeat-x; height:30px; line-height:30px; font-size:13px; color:#646464; text-shadow: 0 1px  1px  #FFFFFF; margin:0px; padding:0px; cursor:pointer;}
.accordion-div h3 span{background:url(../img/acc-right-arrow.png) no-repeat left 53%; padding-left:5px; display:block; width:13px; float:left; height:30px; margin-left:10px;}
.accordion-div h3:first-child{
	-moz-border-radius-topleft: 		.6em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 	.6em /*{global-radii-blocks}*/;
	border-top-left-radius: 			.6em /*{global-radii-blocks}*/;
	-moz-border-radius-topright: 		.6em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 	.6em /*{global-radii-blocks}*/;
	border-top-right-radius: 			.6em /*{global-radii-blocks}*/;  
		}
.acc-content table{border-top:solid 1px #FFFFFF;}
.acc-content table th{border-bottom:solid 1px #FEEEE9; border-left:solid 1px #E8E8E8; padding:10px; color:#FA5B20; font-size:12px; background-color:#F7F7F7; font-weight:normal;}
.acc-content table tr td{border-left:solid 1px #E8E8E8; border-top:solid 1px #E8E8E8; padding:10px; color:#646464; font-size:11px; }
.acc-content table tr td:first-child, .acc-content table th:first-child{border-left:none;}
.acc-content table tr.first td{border-top:none;}
.active{border-bottom:solid 1px #F8AC91;}
.accordion-div h3.active span{background:url(../img/acc-down-arrow.png) no-repeat left 53%;}



.breadcrumb a{
	text-decoration:none;	
}
.icons .not-active{
	cursor:default;
}
.float-left{
	float:left;	
}
#errormsg {
		color: #990000; font-weight: bold;display:block; margin:60px;
}
#errormsg-default{
		color: #990000; font-weight: bold;display:block; float:left;
}
#errormsg-login{
		color: #990000; font-weight: bold;display:block;
}
.margin20{
	margin: 0px 0px 0px 12px;
}
.margin8{
	margin: 0px 0px 0px 8px;
}
.align-left{
	text-align:left;	
}
.lineheight27{
	line-height:27px;
}
.icon-checkeddefault{background:url(../img/checkd.png) no-repeat 0 0; width:17px; height:18px; /*opacity:0.4;*/ border:none;}
input[type="checkbox"].icon-checked{background:url(../img/checkd.png) no-repeat 0 0; width:17px; height:18px; cursor:pointer; border:none; }
input[type="checkbox"].icon-unchecked{background:url(../img/un-checkd.png) no-repeat 0 0; width:17px; height:18px; cursor:pointer; border:none; }
input[type="checkbox"] {-webkit-appearance: none;box-sizing: none;border-radius: 0em;}
input[type="checkbox"].test{
-webkit-appearance: none;
box-sizing: none;
background-color:grey;
}
.grey{background-color:#CCC;}
.paddingBottom10{
	padding-bottom:20px;	
}
.mandatory-fields{text-align:right; padding:10px 20px 0px 0px; color:#DD0000; font-size:12px;} 
.page-not-found{text-align:center; font-size:22px; color:#FF0000; margin:30px;}
.forgot_area ul li  .pushbottom-3 { margin-right: 10px;}
.forgot_area .text-box {padding: 3px 0px 3px 5px;}
.acc-content table {width: 99% \9;}
.email-txt {font-size: 12px; float: left; }
.user-grid  .downarrow{
	background: url(../img/acc-down-arrow.png) no-repeat right 53%;	
	padding: 5px 15px 5px 5px;
	text-align: center;
	font-weight: bold;
	color: #646464;
	font-size: 12px;
	display: block;
}
.user-grid  .uparrow{
	background: url(../img/acc-up-arrow.png) no-repeat right 53%;	
	padding: 5px 15px 5px 5px;
	text-align: center;
	font-weight: bold;
	color: #646464;
	font-size: 12px;
	display: block;
}
.paging span.next a, .paging span.prev a{
	font-weight: bold;
	color: grey;
	text-decoration : none;
	margin: 0px 5px 0px 5px;
}
.paging span a{
	font-weight: bold;
	background-color: #ccc;
	padding: 3px 5px 3px 5px;
	color: grey;
	border-radius:5px;
	text-decoration : none;
	margin: 0px 5px 0px 5px;
}
.paging span.page a{
	font-weight: bold;
	background-color: #ccc;
	padding: 3px 5px 3px 5px;
	color: white;
	border-radius:5px;
	text-decoration : none;
	margin: 0px 5px 0px 5px;
}
.paging .current{
	font-weight: bold;
	background-color: #E6E6E6;
	padding: 3px 5px 3px 5px;
	color: #F15A23;
	border-radius:5px;
	text-decoration : none;
	margin: 0px 5px 0px 5px;
}
td.center{
	text-align:center;
}
.labelStmt{
	color:red;
	font-weight:normal;
}

.flowchart{
background: url(../img/flow-chart.jpg) repeat-x left top;
padding: 0px 17px 0px 17px;
margin: 0px;
height: 460px;
width: 352px;
}

.contact-information{
margin: 0 20px 0 40px;
width: 85%;
height: 30px;
background-color: #E5E5E5;
color: #666;
line-height: 30px;
font-weight: bold;
font-size: 14px;
padding-left: 14px;
}
.latLng{
float: left;
padding: 5px 10px 0 10px;
}
.popup-form .width20{
width:20%;
}
.floatLeft{
float:left;
}
.icon-grid .marginLeftRight0{
margin-left:0px;margin-right:0px;
}
.checkbox-sidebyside{
padding: 0px 20px 0px 0px;
}
.checkbox-label{
padding:1px 0px 0px 5px;
line-height:22px;
}
.headline .right a.downloadbackground{
background:url(../img/download.png) no-repeat 0;
height: 18px;
line-height: 18px;
}
.ui-widget-header{
color: #222222/*{fcHeader}*/;
font-weight: bold;
}