<div class="headline">
	<div class="left">
		<h2>
			<?php echo "View Details of ".$tenant_name;?>
		</h2>
	</div>
    
</div>
<div class="content-holder">
	<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td class="leftnav" valign="top">
					<div id="arrow"></div>
					<?php 
						echo $this->element('admin_left_menu');
					?>
				</td>
			<td class="content" valign="top" width="80%">
				<table cellpadding="1" cellspacing="1" width="99%"  class="user-grid">
                <?php
							$i = 1;
							foreach ($details as $details) 
							{
						?>
					<tr>
					<td  height="30">
			      		
						  <?php
						     echo "Tenant id";
						  ?>
						
					 </td>
					 <td height="30">
							<?php echo $details->tenant_id;?>
									</td>
									</tr>
					<tr>
                    <td height="30">
                        
							<?php 							
								echo "First Name";
							?>
						
                        </td>
							<td height="30">
										<?php echo $details->tenant_firstname;?>
									</td>
									</tr>
                           <tr>
                           <td height="30">
                         
							<?php 							
								echo "Last Name";
							?>
						
                        </td>
						<td height="30">
								<?php echo $details->tenant_lastname;?>
									</td>
									</tr>
                        <tr>
					    <td height="30">
			      		  
						    <?php
						     echo "Date Of Birth";
						  ?>
						 
					   </td>
					   <td height="30">
					  		<?php 
							    echo $details->tenant_date_of_birth;
								?>
							</td>
						</tr>
						<tr>
					    <td height="30">
			      		  
						    <?php
						     echo "Email Id";
						  ?>
						 
					   </td>
					   <td height="30">
					  		<?php 
							    echo $details->tenant_email;
								?>
							</td>
						</tr>
						<tr>
					    <td height="30">
			      		  
						    <?php
						     echo "Mobile Number";
						  ?>
						 
					   </td>
					   <td height="30">
					  		<?php 
							    echo $details->tenant_mobile;
								?>
							</td>
						</tr>
						<tr>
					    <td height="30">
			      		  
						    <?php
						     echo "Current Location";
						  ?>
						 
					   </td>
					   <td height="30">
					  		<?php 
							    echo $details->tenant_current_location;
								?>
							</td>
						</tr>
						<tr>
					    <td height="30">
			      		  
						    <?php
						     echo "Emergency Contact";
						  ?>
						 
					   </td>
					   <td height="30">
					  		<?php 
							    echo $details->tenant_emergency_contact;
								?>
							</td>
						</tr>
						<tr>
					    <td height="30">
			      		  
						    <?php
						     echo "Created Time";
						  ?>
						 
					   </td>
					   <td height="30">
					  		<?php 
							    echo $details->tenant_created_date;
								?>
							</td>
						</tr>
						<tr>
					    <td height="30">
			      		  
						    <?php
						     echo "Tenant State";
						  ?>
						 
					   </td>
					   <td>
					  <?php
					  
									
		      						    print_r((json_decode($this->requestAction("/TenantAptData/getTenantStateName/".$tenantapts->tenant_apt_data_state))));
									 ?>
					  
					    <?php
				
                                        echo $this->Html->link(
										'Change Tenant State',
										array(
											'controller' =>'TenantAptData', 
											'action' => 'states',
											'id'=>$tenant_id,
											'tenant_apt_id'=>$tenant_apt_id,
										    'tenant_state'=>$tenantapts->tenant_apt_data_state
									    )
									);
		                         ?>            
					   </td>
						</tr>
						<?php 
								$i++;
							}
						?>		
				</table>	
			</td>
		</tr>
	</table>
   </div>	