<ul>
		<li>
			<?php 
				$username = $this->request->session()->read('user_name'); 
				echo "Welcome "."<b>". $username ."</b>&nbsp;";
			?>
		</li>
		<!--<li>
			<a href="javascript:void(0)" title="<?php echo "ABOUT_US";?>">
				<?php echo "ABOUT_US";?>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" title="<?php echo "HELP";?>">
				<?php echo "HELP";?>
			</a>
		</li>-->
		<li>
			<?php 
				echo $this->Html->link(
										'LOGOUT', 
										"/Admins/logout", 
										array(
											'class' => 'logout', 
											'escape' => false, 
											'title' =>'LOGOUT'
										), 
										null, 
										false
									);
			?>
		</li>
	</ul>